<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://facebook.com">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="text-dark fs-4">
                <i class="fa-brands fa-square-instagram" style="color:#C13584;;"></i>
            </a>
            <a href="https://linkedin.com">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://whatsapp.com" target="_blank">
            <i class="fa-brands fa-whatsapp" style="color:#25D366;"></i>
            </a>

        </div>
        <div class="f-info-brand"> &copy; TravelHive Private Limited </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>    
    </div>
</footer>